@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
    width: 100%;
    margin: 0;
    background-color: #000000;
    color: #5DFC01;
    font-family: 'Share Tech Mono', monospace;
}
body.reverse{
    background-color: #5dfc01;
    color: #000000;
}

#container {
    width: 95%;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

#selectorContainer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.selectors {
    width: 40%;
    /*padding-top: 40%;*/
    border: 3px solid #FFFFFF;
    display: inline-block;
    margin: 3px;
    position: relative;
}

#s-1 {
    background-color: red;
    border-top-left-radius: 100%;
}

#s-2 {
    background-color: blue;
    border-top-right-radius: 100%;
}

#s-3 {
    background-color: green;
    border-bottom-left-radius: 100%;
}

#s-4 {
    background-color: yellow;
    border-bottom-right-radius: 100%;
}

#corner1 {
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 40%;
    padding-bottom: 40%;
    background-color: #000000;
    border-top-left-radius: 100%;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    z-index: 1;
}

#corner2 {
    position: absolute;
    bottom: -3px;
    left: -3px;
    width: 40%;
    padding-bottom: 40%;
    background-color: #000000;
    border-top-right-radius: 100%;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    z-index: 1;
}

#corner3 {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 40%;
    padding-bottom: 40%;
    background-color: #000000;
    border-bottom-left-radius: 100%;
    border-bottom: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    z-index: 1;
}

#corner4 {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 40%;
    padding-bottom: 40%;
    background-color: #000000;
    border-bottom-right-radius: 100%;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    z-index: 1;
}

.dummy.active{
    background-color: #5dfc01 !important;
}
.a-1 {
    width: 100%;
    padding-top: 100%;
    border-top-left-radius: 100%;
    background-color: rgba(255, 255, 255, .6);
    visibility: hidden;
}

.a-2 {
    width: 100%;
    padding-top: 100%;
    border-top-right-radius: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    visibility: hidden;
}

.a-3 {
    width: 100%;
    padding-top: 100%;
    border-bottom-left-radius: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    visibility: hidden;
}

.a-4 {
    width: 100%;
    padding-top: 100%;
    border-bottom-right-radius: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    visibility: hidden;
}

#gameName {
    position: absolute;
    width: 20%;
    text-align: center;
    top: 40.5%;
    left: 40%;
    z-index: 2;
}

#gameName > h1 {
    font-size: 4.5vw;

}

#status {
    font-size: 3vw;
    width: 90%;
    text-align: center;
    margin: 5px auto;
    height: 105px;
    display: block;
}
#status>h1, h2 {
    margin: 10px auto;
}
.x2 {
    display: none;
}
#highScore{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}
#highScore>h1{
    font-size: 3vw;
    margin-bottom: 0;
}
#levelSwitch {
    position:absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    border: 3px solid white;
    border-radius: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #777;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5DFC01;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5dfc01;
}

input:checked + .slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*----media queries-----*/

@media screen and (min-width: 1400px){
    #gameName>h1{
        font-size: 65px;
    }
    #gameName {
        top: 41%
    }
}
@media screen and (max-width: 1220px) {
    #gameName {
        top: 44%
    }

    #selectorContainer {
        width: 55%
    }

    #status {
        height: 85px;
    }
}

@media screen and (max-width: 1000px) {
    #selectorContainer {
        width: 60%
    }

    #status {
        height: 70px;
    }
}

@media screen and (max-width: 815px) {
    #gameName {
        top: 38%;
        left: 39%;
    }

    #gameName > h1 {
        font-size: 7vw;
    }

    #selectorContainer {
        width: 80%
    }
    #status>h1{
        font-size: 8vw;
    }
    #levelSwitch{
        bottom: -100px;
    }
}
@media screen and (max-width: 650px){
    #selectorContainer {
        width: 100%
    }
    #gameName {
         top: 42% !important;
     }
    #highScore>h1{
        font-size: 5vw;
    }
    #highScore {
        bottom: -40px;
    }
    #levelSwitch {
        bottom: -120px;
    }
}
@media screen and (max-width: 450px){
    #gameName {
        top: 35% !important;
        left: 38%;
        font-size: 9vw;
    }
    #levelSwitch{
        position: relative;
        display: block;
        bottom: 0;
    }
    #highScore{
        position: relative;
        display: block;
        text-align: center;
        bottom: 0;
    }
}
